@import 'variables.css';

footer{
	padding-top: 100px;
	padding-bottom: 20px;
	padding-left: 120px;
	background-color: var(--color-bg-footer);
	color: var(--color-text-primary);
}

/* the headers of each footer container */
footer .container h4 {
	font-size: 30px;
	margin: 30px 20px;
}

/*footer containers*/
footer .container{
	float: left;
	width: 30%;
	height: 400px;
	margin-inline: 1.5%;
}

/*footer lists*/
footer ul, footer ul li{
	margin-top: 15px;
	margin-left: 0;
	padding: 0;
}

/*Developers links*/
footer .container a{
	font-size: 20px;
	font-weight: lighter;
	text-decoration: none;
	margin-left: 25px;
	color: var(--color-text-primary);
	transition: color var(--transition-default);
}

/*socail media icons*/
footer .container span {
	font-size: 50px;
	margin-top: 30px;
	font-weight: 600;
	transition: transform var(--transition-default), opacity var(--transition-default);
}

/*information icons*/
footer .container address span {
	font-size: 23px;
	margin-left: 20px;
	margin-top: 10px;
}

/*under footer logo paragraph*/
footer .container p {
	width: 60%;
	margin-left: 30px;
	font-weight: 400;
}

footer #footer-logo {
	background-image: url('../playblock-logo.svg');
	width: 90%;
	height: 100px;
	background-position: center;
	background-size: cover;
}

footer .container .fa-facebook {
    color: var(--color-social-facebook); 
}

/* GitHub icon */
footer .container .fa-github  {
    color: var(--color-social-github); 
}

/* Discord icon */
footer .container .fa-discord{
    color: var(--color-social-discord); 
}

footer .container a span:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

footer .container a:hover{
	color: #b15cd8;
}

footer small {
	text-align: center;
	display: block;
	font-size: 20px;
	font-weight: 200;
	padding-block: 16px;
}

.clear {
	clear: both;
}
