@import 'variables.css';

header {
    background: url('../assets/hero.jpg') no-repeat center center/cover;
    min-height: 93vh;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

header h1 {
    font-size: 90px;
    margin: 0;
    line-height: 1.2;
}

header h1 .highlight {
    color: var(--color-primary-light);
}

header p {
    font-size: 23px;
    width: 700px;
    color: var(--color-text-secondary);
    margin-top: 20px;
    line-height: 1.6;
}
