@import 'variables.css';

body {
	font-family: "Exo2", serif;
	font-weight: 700;
}

.hero {
	min-height: 100vh;
	background-position: top;
}

.hero p {
	font-weight: 300;
}

#currentUser {
	color: var(--color-primary);
	font-weight: 300;
}

#text{
    font-size: 2rem;
    line-height: 1.6;
}

main {
	background-color: var(--color-bg-dark);
	padding-bottom: 30px;
} 

.cover-container {
	width: 48%;
	height: 600px;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-inline: 0.5%;
	overflow: hidden;
	box-shadow: 0 4px 10px var(--color-shadow-dark);
	transition: transform var(--transition-default);
	cursor: pointer;
}

.cover-container h2 {
	font-weight: 600;
	position: relative;
	text-shadow: 0px 0 19px gray;
	color: var(--color-text-primary);
	top: 70%;
	left: 20px;
	font-size: 40px;
	text-transform: uppercase;
}

.cover-container:hover {
	transform: scale(1.03);
}

main a {
	font-size: 20px;
	color: var(--color-primary-dark);
	display: block;
	text-align: center;
	width: 100%;
	margin-top: 60px;
	text-decoration: none;
	transition: color var(--transition-default);
}

main a:hover {
	color: var(--color-primary);
}
