body {
	font-family: Arial, sans-serif;
}

.hero {
	height: 100vh;
	background-position: top;
}

#currentUser {
	color: #64baff;
	font-weight: 300;
}

#text{
  font-size: 2rem;
}


main {
	background-color: #011526;
	padding-bottom: 90px;
} 

.cover-container {
	width: 48%;
	height: 600px;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-inline: 0.5%;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
	cursor: pointer;
}

.cover-container h2 {
	position: relative;
	text-shadow: 5px 0 15px black;
	color: #fff;
	top: 70%;
	left: 20px;
	font-size: 50px;
	text-transform: uppercase;
}

.cover-container:hover {
	transform: scale(1.03);
}

main a {
	font-size: 28px;
	color: #3d46f2;
	display: block;
	text-align: center;
	width: 100%;
	margin-top: 50px;
}
