*{
    margin: 0;
    padding: 0;
}


nav{
    height: 55px;
    background-color: #010500;
	color: white;
	position: fixed;
	width:100%;
	z-index: 1;
}

.containerFloat-left{
    float: left;
    display: inline;
}
 
.logo-Horizantal{
	height: 50px;
	width: 100px;
    display: inline;
    float: left;
	background-image: url(../assets/logo_vert.png);
	background-position: center;
	background-size: cover;
}

nav input{
	outline: none;
	border: none;
    margin-top: 17px;
    width: 367px;
    height: 20px;
    background-color: rgb(177, 179, 178);
    border-radius: 20px;
    margin-left: 30px;
    padding-left: 26px   ;
	padding-block: 3px;
    color: rgb(23, 24, 24);
}

input:focus{
	outline: 1px solid #5d76f2;
}

input::placeholder{
    color: rgb(59, 60, 61);
    font-size: 1rem;
}

.search{
    cursor: pointer;
	margin-left: 10px;
}

.containerFloat-right{
	margin-top: 15px;
	vertical-align: middle;
    float: right;
}

i {
	font-size: 25px;
	vertical-align: middle;
    cursor: pointer;
}

#cart-count {
  position: absolute;
  top: 3px;
  right: 170px;
  background: #048abf;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  padding: 2px;
  text-align: center;
}

.out{
    width: 100px;
    height: 28px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 0;
    float: right;
    margin-inline: 40px;
    cursor: pointer;
}

.out:hover{
background-color: rgb(68, 214, 129);
transition: .5s;

}
