@import 'variables.css';

*{
    margin: 0;
    padding: 0;
}

nav{
    height: 55px;
    background-color: var(--color-bg-darker);
	color: var(--color-text-primary);
	position: fixed;
	width:100%;
	z-index: 1;
}

.containerFloat-left{
    float: left;
    display: inline;
}
 
.logo-Horizantal{
	height: 50px;
	width: 190px;
    margin-left: 10px;
    display: inline;
    float: left;
	background-image: url(../playblock-logo.svg);
	background-position: center;
	background-size: cover;
}

nav input{
	outline: none;
	border: none;
    margin-top: 17px;
    width: 367px;
    height: 20px;
    background-color: var(--color-input-bg);
    border-radius: var(--radius-full);
    margin-left: 30px;
    padding-left: 26px;
	padding-block: 3px;
    color: var(--color-input-text);
}

input:focus{
	outline: 1px solid var(--color-primary-dark);
}

input::placeholder{
    color: var(--color-input-placeholder);
    font-size: 1rem;
}

.search{
    cursor: pointer;
	margin-left: 10px;
    color: var(--color-text-primary);
}

.containerFloat-right{
	margin-top: 15px;
	vertical-align: middle;
    float: right;
}

i {
	font-size: 25px;
	vertical-align: middle;
    cursor: pointer;
    color: var(--color-text-primary);
}

#cart-count {
  position: absolute;
  top: 3px;
  right: 170px;
  background: var(--color-accent-info);
  color: var(--color-text-primary);
  font-size: 14px;
  font-weight: bold;
  border-radius: var(--radius-circle);
  width: 17px;
  height: 17px;
  padding: 2px;
  text-align: center;
}

.out{
    width: 100px;
    height: 28px;
    background-color: var(--color-accent-danger);
    color: var(--color-text-primary);
    border-radius: 10px;
    border: 0;
    float: right;
    margin-inline: 40px;
    cursor: pointer;
    transition: var(--transition-slow);
}

.out:hover{
    background-color: var(--color-accent-success);
}
