body {
	background-color: #011526;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	background-color: #011526;
	border: 1px solid royalblue;
	color: white;
	padding: 35px 60px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 400px;
}

h1, h3 {
	text-align: center;
}

h3 {
	font-weight: 200;
}

label {
	display: block;
	margin-bottom: 5px;
}

label[for=agree] {
	display: inline;
}

.input {
	background-color: #011526;
	width: 100%;
	padding: 13px 15px;
	border: 0.2px solid #a855f7;
	border-radius: 10px;
	color: white;
	font-size: 18px;
	outline: none;
	transition: border-color 0.3s;
	box-sizing: border-box;
}

.input:focus {
	border-color: #a855f7;
	outline: none;
	box-shadow: 0 0 8px #a259e6;
}

.checkbox {
	margin-bottom: 10px;
	margin-top: 10px;
}

#register-btn {
	width: 100%;
	background: #0d46f2;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
	box-sizing: border-box;
}

#register-btn:hover {
	background-color: #048abf;
}

#register-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

p, a{
	text-align: center;
	display: block;
}

p{
	font-size: 15px;
	margin-top: 25px;
	color: #a0a0a0;
}

a{ 
	font-weight: 700;
	font-size: 20px;
	color: #a855f7;
	text-decoration: none;
}
a.terms {
	color: white;
	display: inline-block;
	font-weight: bolder;
	font-size: 17px;
}

small{
	display: inline-block;
	color: orange;
	font-size: 14px;
	margin-block: 5px 15px;
	transition: all 0.3s;
	opacity: 0;
}

.visible {
	opacity: 1;
}

.not-valid {
	border: 1px solid red;
}

