*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

aside, main {
	margin-inline: 10px;
	margin-top: 70px;
	height: 92vh;
}

main {
	float: right;
	width: 76%;
}

aside{
	float: left;
    background-color: rgba(128, 128, 128, 0.425);
    width: 20%;
	padding: 10px 20px;
}

main input {
	border-radius: 20px;
	padding: 9px 20px;
	width: 70%;
	margin-left: 10%;
	display: inline-block;
}
 
.search-icon {
	cursor: pointer;
	color: white;
	font-size: 23px;
}

#searchRoot {
	margin-top: 10px;
	height: 95%;
}

.cover-container {
	height: 300px;
	width: 98%;
	margin-inline: auto;
}

.cover-container h2 {
	font-size: 70px;
	position: relative;
	top: 40%;
}

#cardsContainer {
	width: 100%;
	justify-content: center;
	margin-top: 20px;
	overflow-y: auto;
	scrollbar-width: none;
	height: 60%;
}

.card-container {
	margin-inline: 1%;
	margin-bottom: 20px;
}

.image-container{
	width: 280px;
	height: 320px;

}

aside input[type="checkbox"] {
	margin-right: 9px;
	display: inline;
	margin-block: 3px;
	margin-left: 10px;
}

aside input[type="number"] {
	width: 40%;
	margin-block: 15px;
	margin-inline: 10px;
	padding: 20px 30px;
	border-radius: 20px;
	outline: none;
	border: none;
}

.price-container {
	text-align: center;
}

aside button {
	display: block;
	margin-inline: auto;
	font-size: 20px;
	margin-top: 15px;
	width: 90%;
	padding: 15px 20px;
	border-radius: 40px;
	border: none;
}




aside h2{
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 15px;
}

